.container{
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

a{
    text-decoration: none;
    display: inline-block;
}

.version{
    position: fixed;
    left: 5px;
    top: 5px;
    margin: 0;
    opacity: 0.4;
}

.version p{
    margin: 0;
}

.start__btn{
    margin: 300px auto;
    /* margin-top: 300px; */
    width: 250px;
    height: 75px;
}

.start__game-btn{
    color: #fff;
    line-height: 75px;
    font-size: 24px;
    text-align: center;
    border: 1px solid #ffb700;
    box-shadow:2px 2px 4px 0px rgba(34, 60, 80, 0.2);
    border-radius: 5px;
    width: 250px;
    height: 75px;
    background-color: #ffc222;
    cursor: pointer;
    user-select: none;  
    margin-top: 2px;    
}

.start__game-btn:hover{
    width: 240px;
    height: 71px;
 
    margin: 302px 5px 2px 5px;
    line-height: 71px;
}

.close__btn{
    margin: 20px auto 0; 
    width: 250px;
    height: 75px;
}

.close__game-btn{
    color: #fff;
    line-height: 75px;
    font-size: 24px;
    text-align: center;
    border: 1px solid #ffb700;
    box-shadow:2px 2px 4px 0px rgba(34, 60, 80, 0.2);
    border-radius: 5px;
    width: 250px;
    height: 75px;
    background-color: #ffc222;
    cursor: pointer;
    user-select: none;  
}

.close__game-btn:hover{
    width: 240px;
    height: 71px;
 
    margin: 22px 5px 2px;
    line-height: 71px;
}

.table{
    margin: 100px auto 0;
}

td{
    width: 60px;
    height: 60px;
    border: 1px solid #ccc
}

.table td:hover{
    background-color: #ccc;
}

.click__counter{ 
    margin: 100px auto 50px;
    width: 100px;
    height: 50px;
    text-align: center;
    background-color: #eee;
    border-radius: 5px;
    font-weight: 500;
    font-size: 24px;
    line-height: 50px;
    box-shadow:2px 2px 4px 0px rgba(34, 60, 80, 0.2);
}